@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: OpenSans, sans-serif;
  margin: 0;
  width: 100%;
}

.header {
  background-color: #151537;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.header::before {
  content: "";
  display: block;
  background-color: #0a0e34;
  opacity: 0.9;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  z-index: 2;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.svg {
  fill: #ffffff;
}

.greeting-container {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

.download-form {
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: OpenSans;
  display: flex;
  background-color: #5e42b0;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.store-logo {
  fill: #ffffff;
}

.button-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.store-name {
  font-weight: 700;
}

.section-title {
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
}

.article-number {
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.article-number::after {
  content: "";
  display: block;
  background-color: #5e42b0;
}

.article-title {
  display: flex;
  color: #c1c1c1;
  font-weight: 700;
  text-transform: uppercase;
}

.article:nth-child(3n + 1) {
  background-color: #fafafa;
}

.article:nth-child(3n + 2) {
  background-color: #f5f4f9;
}

.article:nth-child(3n + 3) {
  background-color: #5e42b0;
  color: #ffffff;
}

.players-section article:nth-child(3n + 3) {
  background-color: #090c35;
  color: #ffffff;
}

.players-section
  > .articles-container
  > article:nth-child(3n + 3)
  .article-number {
  color: #8765dd;
}

.article:nth-child(3n + 3) .article-number::after {
  content: "";
  display: block;
  background-color: #ffffff;
}

.action-image {
  max-width: 100%;
}

.action-title {
  color: #e7e7e7;
  font-weight: 700;
  text-transform: uppercase;
}

.action {
  position: relative;
}

.card-number {
  position: absolute;
  box-sizing: border-box;
  background-color: #5e42b0;
  color: #f5f6f7;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-number::after {
  content: "";
  display: block;
  background-color: #ffffff;
  text-align: center;
  opacity: 0.3;
  margin: 0 auto;
}

.footer {
  background-color: #151537;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.footer::before {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-container {
  position: relative;
  z-index: 2;
  text-align: center;
}

.short-logo {
  background-color: #7050cc;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.download-appeal {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.appeal {
  color: #9b8ec1;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .header {
    height: 177.5vw;
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/football_767.jpg);
  }

  .logo {
    width: 41.5vw;
  }

  .header .logo {
    padding-top: 10.62vw;
  }

  .greeting-container {
    margin-top: 39vw;
    margin-bottom: 28.12vw;
    font-size: 6.25vw;
  }

  .greeting1 {
    padding-left: 6.2vw;
  }
  .greeting2 {
    padding-left: 14vw;
  }

  h2,
  h3,
  h4 {
    margin: 0;
  }

  .button {
    width: 87.5%;
    height: 6.45%;
    padding-top: 1.65%;
    padding-bottom: 1.65%;
    border-radius: 4.68vw;
    font-size: 2.5vw;
    color: #ffffff;
  }

  .button:nth-child(n + 2) {
    margin-top: 4.37vw;
  }

  .store-logo {
    width: 6.87vw;
    height: 7.5vw;
    margin-right: 2.5vw;
  }

  .section-title {
    font-size: 15.62vw;
    height: 11.25vw;
    margin-top: 6.88vw;
    margin-bottom: 76.56vw;
    padding-left: 6.25vw;
  }

  .athlets-section .section-title::after {
    content: "";
    display: inline-block;
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/footballer_192.png);
    background-repeat: no-repeat;
    margin-left: 15.62vw;
    width: 54.68vw;
    height: 87.5vw;
    background-size: 95%;
  }

  .players-section .section-title::after {
    content: "";
    display: inline-block;
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/basketballer_302.png);
    background-repeat: no-repeat;
    width: 93.75vw;
    height: 84.37vw;
    background-size: 95%;
  }

  .article-number {
    font-size: 4.37vw;
    margin-right: 3.12vw;
  }

  .article-number::after {
    height: 1.25vw;
    border-radius: 0.31vw;
    background-color: #5e42b0;
  }

  .article-title {
    font-size: 7.18vw;
    margin-bottom: 5.62vw;
  }

  .article-text {
    font-size: 4.68vw;
  }

  .article {
    padding-top: 18.75vw;
    padding-bottom: 17.18vw;
    padding-left: 6.25%;
    padding-right: 6.25%;
  }

  .action-title {
    font-size: 8.75vw;
    margin-bottom: 6.87vw;
  }

  .action {
    padding-top: 10.93vw;
    padding-bottom: 25vw;
    padding-left: 6.25%;
    padding-right: 6.25%;
  }

  .card-number {
    top: -18.12vw;
    left: 6.25%;
    width: 21.87vw;
    height: 21.87vw;
    font-size: 4.37vw;
  }

  .card-number::after {
    width: 4.68vw;
    height: 1.25vw;
    border-radius: 0.31vw;
  }

  .footer {
    height: 177.5vw;
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/game_767.jpg);
    padding-top: 31.25vw;
    padding-bottom: 3.12vw;
    box-sizing: border-box;
    padding-left: 6.25%;
    padding-right: 6.25%;
  }

  .short-logo {
    height: 23.12vw;
    width: 22.5vw;
    border-radius: 3.75vw;
    padding: 3.75vw 1.87vw;
    margin-bottom: 18.75vw;
  }

  .download-appeal {
    font-size: 10vw;
    font-weight: 700;
  }

  .appeal {
    font-size: 4.37vw;
    margin-bottom: 23.43vw;
  }

  .footer .download-form {
    margin-bottom: 25vw;
  }
}

@media (min-width: 641px) {
  .header {
    height: 960px;
  }

  .button {
    width: 311px;
    height: 77px;
    border-radius: 38px;
    font-size: 14px;
  }

  .store-logo {
    width: 40px;
    height: 45px;
    margin-right: 25px;
  }

  .download-form {
    display: flex;
    justify-content: center;
  }

  .section-title {
    height: 58px;
    font-size: 80px;
  }

  .article-number {
    font-size: 18px;
    margin-right: 12px;
  }

  .article-number::after {
    content: "";
    display: block;
    width: 19px;
    height: 5px;
    border-radius: 2px;
  }

  .article-text {
    line-height: 28px;
  }

  .articles-container > .article:nth-child(3n + 1) {
    background-color: #ffffff;
  }

  .card-number::after {
    content: "";
    display: block;
    width: 28px;
    height: 5px;
    border-radius: 2px;
  }
  .short-logo {
    height: 136px;
    width: 130px;
    border-radius: 24px;
    padding: 24px 12px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .header {
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/football_767.jpg);
  }

  .logo {
    width: 26%;
    padding-top: 4.7%;
  }

  .greeting-container {
    font-size: 45px;
    margin-top: 170px;
    margin-bottom: 300px;
    line-height: 77px;
  }

  .greeting1 {
    margin-left: 11.46%;
  }

  .greeting2 {
    margin-left: 24%;
  }

  .download-form {
    margin-bottom: 90px;
  }

  .button:nth-second-child {
    margin-left: 32px;
  }

  .section-title {
    margin-top: 85px;
    margin-bottom: 60px;
    padding-left: 4.16%;
    position: relative;
  }

  .athlets-section .section-title::after {
    content: "";
    display: block;
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/footballer_497.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 51.1vw;
    top: 50px;
    width: 530px;
    height: 590px;
    background-size: 95%;
  }

  .players-section .section-title::after {
    content: "";
    display: block;
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/basketballer_436.png);
    background-repeat: no-repeat;
    width: 435px;
    height: 550px;
    position: absolute;
    right: 0;
    top: 0;
    background-size: 100%;
  }

  .athlets-section > .section-title {
    padding-left: 38.41%;
  }

  .players-section .article-number:nth-child(3n + 3) {
    color: #8765dd;
  }

  .article-title {
    font-size: 32px;
  }

  .article-text {
    font-size: 16px;
  }

  .article {
    padding: 40px 32px;
  }

  .athlets-section .article {
    padding-left: 38.41%;
  }

  .players-section .article {
    padding-right: 45.18%;
  }

  .action-title {
    font-size: 80px;
    margin-bottom: 24px;
  }

  .action-card-text {
    font-size: 24px;
  }

  .action {
    padding-top: 90px;
    padding-bottom: 95px;
    padding-left: 4.17%;
    padding-right: 9.11%;
  }

  .card-number {
    top: -90px;
    left: 4.17%;
    width: 116px;
    height: 116px;
    font-size: 24px;
  }

  .footer {
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/game_767.jpg);
    padding-top: 125px;
    padding-left: 4.17%;
    padding-right: 4.17%;
  }

  .short-logo {
    margin-bottom: 85px;
  }

  .download-appeal {
    font-size: 64px;
  }

  .appeal {
    font-size: 36px;
    margin-bottom: 285px;
  }
}

@media (min-width: 961px) {
  .header {
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/football_1920.jpg);
    padding-left: 10.16%;
    padding-right: 10.16%;
    padding-bottom: 110px;
  }

  .logo {
    width: 10%;
    padding-top: 45px;
  }

  .greeting-container {
    font-size: 3.33vw;
    line-height: 5.4vw;
    margin-top: 295px;
    margin-bottom: 225px;
  }

  .greeting2 {
    margin-left: 29.43%;
  }

  .button:nth-child(n + 2) {
    margin-left: 52px;
  }

  .button:first-child {
    margin-left: calc(50% - 311px);
  }

  .button:last-child {
    margin-right: calc(50% - 311px);
  }

  .section-image {
    position: absolute;
  }

  .section-title {
    margin-top: 115px;
    margin-bottom: 100px;
    position: relative;
  }

  .athlets-section .section-title::after {
    content: "";
    display: block;
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/footballer_566.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 50vw;
    top: 50px;
    width: 545px;
    height: 955px;
    background-size: 95%;
  }

  .players-section .section-title::after {
    content: "";
    display: block;
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/basketballer_991.png);
    background-repeat: no-repeat;
    width: 980px;
    height: 810px;
    position: absolute;
    left: 42.18vw;
    top: -50px;
    background-size: 100%;
  }

  .athlets-section .section-title,
  .athlets-section .article {
    padding-left: 52.34vw;
  }

  .players-section .article,
  .players-section .section-title {
    padding-left: 10.15%;
  }

  .players-section .article {
    padding-right: 52.34%;
  }

  .article {
    padding-top: 58px;
    padding-bottom: 58px;
    padding-right: 10.15%;
  }

  .article-title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .article-text {
    font-size: 20px;
  }

  .athlets-section > .article:nth-child(3n + 3) {
    background-color: #ffffff;
  }

  .action-section {
    display: flex;
    flex-flow: column;
  }

  .action-container {
    display: flex;
    flex-wrap: wrap;
  }

  .action-container:nth-child(even) {
    flex-flow: row-reverse;
  }

  .card {
    width: 50%;
    align-items: stretch;
  }

  .action-image {
    margin-bottom: -5px;
  }

  .action-title {
    font-size: 4.17vw;
    padding-bottom: 7.25%;
  }

  .action {
    font-size: 1.25vw;
    box-sizing: border-box;
    padding-left: 6.67%;
    padding-right: 10.15%;
    padding-top: 13.54%;
  }

  .card-number {
    top: 10.93vw;
    width: 8.75vw;
    height: 8.07vw;
    font-size: 1.25vw;
  }

  .action-container:nth-child(odd) .card-number {
    left: -4.43vw;
  }

  .action-container:nth-child(even) .card-number {
    right: -4.43vw;
  }

  .footer {
    background-image: url(https://raw.githubusercontent.com/MissarvaT/netology-diploma/master/images/game_1920.jpg);
    padding-top: 225px;
    padding-bottom: 52px;
  }

  .logo-appeal-container {
    display: flex;
    justify-content: center;
  }

  .short-logo {
    margin-left: auto;
    margin-right: 40px;
  }

  .appeal-container {
    margin-right: auto;
  }

  .download-form {
    margin-bottom: 312px;
  }

  .download-appeal {
    font-size: 80px;
  }

  .appeal {
    font-size: 30px;
    margin-bottom: 165px;
  }
}

